<navbar></navbar>
<div class="container">
    <div class="row">
        <div class="col-md-12">
            <div class="panel panel-default">
                <div class="panel-heading">
                    <h3 class="panel-title">Usuários Influentes</h3>
                </div>
                <div class="panel-body">
                    <div class="col-sm-4">
                        <label for="brands">Filtrar por marca</label>
                        <select id="brands" class="form-control" ng-model="brandFilter" required>
                            <option value="" ng-selected="brandFilter == ''">Sem filtro</option>
                            <option ng-repeat="brand in brands" ng-selected="brandFilter == brand.id"
                                    value="{{brand.id}}">{{brand.name}}</option>
                        </select>
                    </div>
                    <highchart config="chartConfig"></highchart>
                    <hr>
                    <div class="list-group">
                        <div class="list-group-item">
                            <div class="row-picture">
                                <img class="circle" src="{{userInfo.picture.thumbnail}}" alt="icon">
                            </div>
                            <div class="row-content">
                                <h4 class="list-group-item-heading">{{userInfo.name.full}}</h4>
                                <p class="list-group-item-text">
                                    Email: {{userInfo.email}}
                                </p>
                                <p class="list-group-item-text">
                                    Gênero: {{userInfo.gender | translate}}
                                </p>
                                <p class="list-group-item-text">
                                    Naturalidade: {{userInfo.nat}}
                                </p>
                                <p class="list-group-item-text">
                                    Telefone: {{userInfo.phone}}
                                </p>
                                <p class="list-group-item-text">
                                    Celular: {{userInfo.cell}}
                                </p>
                            </div>
                        </div>
                        <div class="list-group-separator"></div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
