<navbar></navbar>
<div class="container">
    <div class="row">
        <div class="col-md-12">
            <div class="panel panel-default">
                <div class="panel-heading">
                    <h3 class="panel-title">Usuários Influentes</h3>
                </div>
                <div class="panel-body">
                    <div class="col-md-4">
                        <label for="brands">Filtrar por marca</label>
                        <select id="brands" class="form-control" ng-model="brandFilter">
                            <option value="0">Sem filtro</option>
                            <option ng-repeat="brand in brands" value="{{brand.id}}">{{brand.name}}</option>
                        </select>
                    </div>
                    <highchart config="chartConfig"></highchart>
                    <hr>
                    <div class="list-group">
                        <div class="list-group-item">
                            <div class="row-picture">
                                <img class="circle" src="{{userInfo.picture.thumbnail}}" alt="icon">
                            </div>
                            <div class="row-content">
                                <h4 class="list-group-item-heading">{{userInfo.name.full}}</h4>
                                <p class="list-group-item-text">
                                    Email: {{userInfo.email}}
                                </p>
                                <p class="list-group-item-text">
                                    Gênero: {{userInfo.gender | translate}}
                                </p>
                                <p class="list-group-item-text">
                                    Naturalidade: {{userInfo.nat}}
                                </p>
                                <p class="list-group-item-text">
                                    Telefone: {{userInfo.phone}}
                                </p>
                                <p class="list-group-item-text">
                                    Celular: {{userInfo.cell}}
                                </p>
                            </div>
                        </div>
                        <div class="list-group-separator"></div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>


<!--
<div layout="column" ng-cloak>
    <md-toolbar class="md-warn">
        <div class="md-toolbar-tools">
            <h2 class="md-flex">Toolbar: md-warn</h2>
        </div>
    </md-toolbar>
    <div class='md-padding' layout="row" layout-wrap>
        <md-content flex layout-padding>
            <p>This is the partial for view 1.</p>
            <md-button ng-click="ordernar()">Ordenar</md-button>
            <br>
            <div>
                <div ng-repeat="user in users">
                    Email: {{user.name.title + '.' + user.name.first}}
                </div>
            </div>
            <br>
            <md-card>
                <md-card-content>
                    <hc-chart options="chartOptions">Placeholder for generic chart</hc-chart>
                </md-card-content>
                <div class="md-actions" layout="row" layout-align="end center">
                    <md-button>Save</md-button>
                    <md-button>View</md-button>
                </div>
            </md-card>
        </md-content>
    </div>
</div>-->
